<div class="navglass w-100">
    <div>
        <div class="p-2 d-flex justify-content-end">
            <a [routerLink]="['/historique']" routerLinkActive="router-link-active"  class="p-2 " data-bs-toggle="tooltip" data-bs-placement="bottom" title="Historiques"><img src="../../../assets/images/icon/historique_50px.png" alt="" class="icon-sizing"></a>
            <a [routerLink]="['/notification']" routerLinkActive="router-link-active"  class="p-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Notifications"><img src="../../../assets/images/icon/notification_50px.png" alt="" class="icon-sizing"></a>
            <a [routerLink]="['/']" routerLinkActive="router-link-active"  class="p-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Se déconnecter"><img src="../../../assets/images/icon/exit_50px.png" alt=""class="icon-sizing"></a>
        </div>
    </div>
</div>
