.fond-login{
    height: 100vh;
    width: 100vw;
    background-image: url("../../../assets/images/im2.jpg");
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;
    background-attachment: fixed;
}
.card{
    border-radius: 1rem;
    border: 1px solid transparent;
    backdrop-filter: blur(1rem);
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0,0,0,0.5);
    animation: apparition 4s;

}
.cb1{
    background-color: rgba(225,225,225,0.08);
}
@keyframes apparition {
    from{
    
        opacity: 0;
    }
    to{
    
        opacity: 1;
    }
    
}
