<div class="fond-login bg-dark">
    <div class="card position-absolute top-50 start-50 translate-middle text-center w-25 cb1">
        <div class="card-body">
          <h5 class="card-title text-light">Connectez-vous</h5>
          <div>
            <div class="input-group mt-4">
                <div class="container">
                    <input [(ngModel)]="username" type="text" class="form-control" placeholder="Identifiant" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="mt-3 container">
                    <input [(ngModel)]="password" type="password" class="form-control" id="inputPassword" placeholder="Mot de passe">
                </div>
                <div class="mt-3 container">
                    <select class="form-select text-secondary" aria-label="Default select example">
                        <option selected>Département</option>
                        <option value="1">Marketing</option>
                        <option value="2">Production</option>
                        <option value="3">Logistique</option>
                        <option value="4">Stock</option>
                      </select>
                </div>
                <button type="button" class="btn btn-outline-light mt-4 mx-auto" (click)="authenticate()">Se connecter</button>
            </div>
          </div>
        </div>
      </div>
      
</div>
