<app-navbar></app-navbar>
<div>
    <div class="container mt-5 glass-style">
        <h1>Historiques</h1>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Requête</th>
                <th scope="col">Date</th>
                <th scope="col">Département</th>
                <th scope="col">Observation</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Baisser prix chocolatine</th>
                <td>29/02/2022</td>
                <td>Stock</td>
                <td>En attente</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
