/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}
body{
    height: 100vh;
    width: 100vw;
    background-image: url("assets/images/fondflou.png");
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;
    background-attachment: fixed;
}
.glass-style{
    border-radius: 1rem;
    border: 1px solid transparent;
    backdrop-filter: blur(1rem);
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0,0,0,0.5);
    background-color: rgba(225,225,225,0.08);
}
.pie-chart {
    background:
        radial-gradient(
            circle closest-side,
            white 0,
            white 31.02%,
            transparent 31.02%,
            transparent 66%,
            white 0
        ),
        conic-gradient(
            #4e79a7 0,
            #4e79a7 38%,
            #f28e2c 0,
            #f28e2c 61%,
            #e15759 0,
            #e15759 77%,
            #76b7b2 0,
            #76b7b2 87%,
            #59a14f 0,
            #59a14f 93%,
            #edc949 0,
            #edc949 100%
    );
    position: relative;
    width: 500px;
    min-height: 350px;
    margin: 0;
    outline: 1px solid #ccc;
}
.pie-chart h2 {
    position: absolute;
    margin: 1rem;
}
.pie-chart cite {
    position: absolute;
    bottom: 0;
    font-size: 80%;
    padding: 1rem;
    color: gray;
}
.pie-chart figcaption {
    position: absolute;
    bottom: 1em;
    right: 1em;
    font-size: smaller;
    text-align: right;
}
.pie-chart span:after {
    display: inline-block;
    content: "";
    width: 0.8em;
    height: 0.8em;
    margin-left: 0.4em;
    height: 0.8em;
    border-radius: 0.2em;
    background: currentColor;
}
@keyframes apparition {
    from{
    
        opacity: 0;
    }
    to{
    
        opacity: 1;
    }
    
}